.idea
bin/
venv/
**/*.log
# src/*.cfg #
src/*.txt
src/*.db
src/lootnika_dev.cfg
src/error.txt
**/__pycache__/
src/lootnika/
src/send_failed/
src/export_failed/
src/outgoing/
src/temp/
src/logs/*
src/sphinx-doc/temp/
src/sphinx-doc/build/
src/webui/help/html/_sources/
tests/tess.py
