.idea
bin/
venv/
**/*.log
# src/*.cfg #
src/*.txt
src/*.db
src/lootnika_dev.cfg
**/__pycache__/
src/Lootnika/
src/send_failed/
src/export_failed/
src/outgoing/
src/temp/
src/logs/
src/sphinx-doc/temp/
src/sphinx-doc/build/
tests/tess.py